:root {
  --color-white: #fff;
  --color-primary: #42b983;
  --color-error: #e53935;
  --color-warning: #c25205;
  --color-smoke: #f8f8f8;
  --color-yellow: #ffff00;
  --main-grey: #eaecef;
  --main-green: #3eaf7c;
  --main-black: #222;
  --main-textColor: #2c3e50;
}
